<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Practice</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <!-- <app-lesson1></app-lesson1> -->
  <!-- <app-lesson2></app-lesson2> -->
  <!-- <app-lesson3></app-lesson3> -->
  <!-- <app-lesson4></app-lesson4> -->
  <app-lesson5></app-lesson5>
  <!-- <app-coin-converter></app-coin-converter> -->
</body>
</html>
